@using Moodeng.Models
@model LoginViewModel


    <div class="flex justify-center pt-[5rem] max-sm:pt-[1rem] h-[calc(100vh_-_10rem)]">
        <section id="loginForm" class="w-[400px]">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
            <h4 class="text-5xl font-semibold max-sm:text-4xl">Login to your Account</h4>
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group mt-[2rem]">
                    @Html.LabelFor(m => m.Email, new { @class = " control-label" })
                    <div class="">
                        @Html.TextBoxFor(m => m.Email, new { @class = "max-w-[550px] w-full border py-2.5 px-2 outline-none rounded-md mt-2" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                    <div class="">
                        @Html.PasswordFor(m => m.Password, new { @class = "max-w-[550px] w-full border py-2.5 px-2 outline-none rounded-md mt-2" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center space-x-2">
                            @Html.CheckBoxFor(m => m.RememberMe, new
                       {
                           @class = "!m-0 !pb-0"
                       })
                            @Html.LabelFor(m => m.RememberMe, new
                            {
                           @class = "!pl-0 !mb-0"
                       })
                        </div>
                        @Html.ActionLink("For got password", "")
                    </div>
                </div>
                <div class="w-full">
                    <div class="w-full">
                        <input type="submit" value="Log in" class="max-w-[450px] w-full rounded-md py-4 bg-[#7F265B] text-white mt-8"/>
                    </div>
                </div>
                <p class="flex items-center mt-4 space-x-3">
                    <span class="text-[#828282]">Not Registered Yet?</span>
                    @Html.ActionLink("Create an account", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}