@model Moodeng.Models.RegisterViewModel


<div class="flex justify-center pt-[5rem] max-sm:pt-[1rem] h-[calc(100vh_-_10rem)]">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "w-[400px]", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="text-5xl font-semibold max-sm:text-4xl">Create a new account.</h4>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group mt-8">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="">
                @Html.TextBoxFor(m => m.Email, new { @class = "max-w-[550px] w-full border py-2.5 px-2 outline-none rounded-md mt-2" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.Password, new { @class = "max-w-[550px] w-full border py-2.5 px-2 outline-none rounded-md mt-2" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "max-w-[550px] w-full border py-2.5 px-2 outline-none rounded-md mt-2" })
            </div>
        </div>
        <div class="w-full">
            <div class="w-full">
                <input type="submit" class="max-w-[450px] w-full rounded-md py-4 bg-[#7F265B] text-white mt-4" value="Register" />
            </div>
        </div>
        <p class="flex items-center mt-4 space-x-3">
            <span class="text-[#828282]">for a user account</span>
            @Html.ActionLink("Sign up", "Login")
        </p>
    }
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
